@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import 'libs/bootstrap-reboot.min.scss';

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right,rgb(208, 201, 201), rgb(69, 67, 67));
}